.section-title .h4 {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  margin: 16px 0;
}

.section-title .top-line {
  border-top: 0.3em solid #000;
  width: 4.4em;
  display: block;
}

.field-name {
  font-size: 14px;
  color: #000;
}

.margin-top-30 {
  margin-top: 30px;
}
